<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <connectionStrings>
    <add name="connection_string" connectionString="Data Source=d:\users\harold\documents\finance.sqlite; Version=3;"
      providerName="System.Data.Sqlite" />
    <add name="ChurchFinanceManager.Properties.Settings.ConnectionString"
      connectionString="Dsn=Finance" providerName="System.Data.Odbc" />
  </connectionStrings>
</configuration>
